<div class="formio-component-header">
  {% if (ctx.component.draggable) { %}
    <div class="drag-guide material-icons">view_week</div>
  {% } %}

  {% if (!ctx.label.hidden && ctx.label.labelPosition !== 'bottom') { %}
    {{ ctx.labelMarkup }}
  {% } %}

  {% if (!ctx.instance.secondaryLabelIsHidden()) { %}
    <div class="formio-secondary-label">{{ ctx.instance.secondaryLabel }}</div>
  {% } %}
</div>

{% if (ctx.label.hidden && ctx.label.className && ctx.component.validate.required) { %}
  <label class="{{ctx.label.className}}"></label>
{% } %}

{{ctx.element}}

{% if (!ctx.label.hidden && ctx.label.labelPosition === 'bottom') { %}
  {{ ctx.labelMarkup }}
{% } %}
{% if (ctx.component.description) { %}
  <div class="form-text text-muted">{{ctx.t(ctx.component.description)}}</div>
{% } %}
