
.formbuilder {
  position: relative;
}

.drag-container {
  padding: 10px;
  border: dotted 2px #e8e8e8;
}

.drag-container:hover {
  cursor: move;
  border: dotted 2px #ccc;
}

.drag-container.formio-builder-form,
.drag-container.formio-builder-form:hover,
.panel-body > .drag-container.formio-builder-components,
.panel-body > .drag-container.formio-builder-components:hover,
.tab-pane > .drag-container.formio-builder-components,
.tab-pane > .drag-container.formio-builder-components:hover {
  padding: 0 0 1rem 0;
  border: none;
}

.builder-component {
  position: relative;
  min-height: 15px;
  display: flex;
  .formio-component-htmlelement {
    border: dotted 2px #e8e8e8;
    [ref=html]:empty:before {
      content: 'HTML Content';
      color: #aaa;
    }
  }
  > div:last-child {
    flex: 1;
  }
}
.formio-component-header {
    display: flex;
    height: 17px;
    align-items: center;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .3s ease;
    .drag-guide {
      opacity: .3;
      transition: opacity .15s ease;
      font-size: 17px;
      &:hover {
        cursor: move;
        opacity: 1;
      }
    }
    label.col-form-label {
      padding-left: 3px;
      color: #cacaca;
    }
    .formio-secondary-label {
      color: #8e8e8e;
      font-size: .8rem;
      padding-left: 3px;
      font-style: italic;
    }
    .component-settings-button-live-updates {
      color: #ff7272;
      padding: 2px 3px 0 3px;
      font-size: 8px;
      margin-bottom: 2px;
      margin-left: 5px;
      line-height: 14px;
      border-radius: 2px;
    }
    .component-settings-button-jump {
      color: #fff;
      padding: 2px 3px 0 3px;
      opacity: .7;
      font-size: 8px;
      margin-bottom: 2px;
      margin-left: 5px;
      line-height: 14px;
      border: 1px solid #ffffff66;
      border-radius: 2px;
      transition: opacity .15s ease;
      &:hover {
        cursor: pointer;
        opacity: 1;
        background: #ffffff21;
      }
    }
    .component-settings-button-undo {
      display: none;
      &.last-saved-changed {
        display: block;
        font-size: 14px;
        line-height: .5;
        padding-left: 5px;
        color: #ff9a00aa;
        &:hover {
          color: #ff9a00;
        }
      }
    }
  }

.component-btn-group {
  display: flex;
  align-items: center;
  padding-bottom: 3px;
  padding-left: 2px;

  div[ref=removeComponent] {
    line-height: 15px;
    font-size: 17px;
    padding-left: 0;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  div[ref=editComponent] {
    padding-right: 0;
    padding-left: 0;
  }
}

.formio-component-realityarray .component-btn-group {
  padding-bottom: 4px;
}

.builder-component:not(:hover) .component-btn-group {
  visibility: hidden;
}

.formio-component tr {
  border-bottom: none;
}

.formio-component fieldset {
  border: 1px solid #636363;
}

.builder-group-button {
  background-color: transparent;
  white-space: normal;
  text-align: left;
}

.form-builder-group-header {
  padding: 0;
}

.formbuilder .formio-component-hidden,
.formbuilder .formio-component-content,
.formbuilder .formio-component-form,
.formbuilder .formio-component-datasource {
  border: 2px dashed #ddd;
}

.formbuilder .formio-component-form,
.formbuilder .formio-component-hidden,
.formbuilder .formio-component-datasource {
  height: 3em;
  text-align: center;
  color: #aaa;
  padding-top: 0.5em;
}

.btn-xxs, .btn-group-xxs > .btn, .component-btn-group .component-settings-button {
  padding: 4px 2px;
  font-size: 13px;
  border-radius: 0;
  width: 18px;
  height: 18px;

  &.btn {
    background: transparent;
    color: #808080;
    box-shadow: none !important;
    cursor: pointer !important;
    transition: color .3s ease;

    &:hover {
      color: #ddd;
    }
  }
}

.formcomponents .formcomponent {
  text-align: left;
  padding: 5px 5px 5px 8px;
  margin-top: 0.2rem;
  font-size: 0.8em;
  line-height: 1.2;
  border-radius: 0.3em;
}

.form-builder-panel .panel-body {
  padding: 5px;
}

.formio-component-tabs .ui.tabular.menu .item {
  padding: 0.8em;
}

.formio-pdf-builder {
  position:relative;
}

.formio-drop-zone {
  display: none;
  position: absolute;
  z-index:10;
  background-color: #0d87e9;
  opacity: 0.1;
}

.formio-drop-zone.enabled {
  display: inherit;
}

.component-btn-group .btn.component-settings-button-paste {
  display: none;
}

.builder-paste-mode .component-settings-button-paste {
  display: inherit !important;
}

.wizard-page-label {
  cursor: pointer;
  border-radius: 0;
}

.panel-body .drag-and-drop-alert {
  margin-bottom: 0;
}

.builder-sidebar {
  &_scroll {
    position: sticky;
    top: 15px;
  }
}

.builder-sidebar_search {
  margin-bottom: 10px;
  appearance: auto;
}

.formio-wizard-builder-component-title {
  color:#6c757d;
  text-align:center;
  padding: 0.5rem;
}

.formio-wizard-position {
  position: relative;
}

.formio-settings-help {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  margin-top: 10px;
}

.help-block {
  margin: 0px;
}

.builder-sidebar .btn {
  white-space: normal;
}

/* Styles for component edit modal */
.component-settings {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.component-settings .formio-dialog-content {
  max-height: 100%;
}

.component-edit-container {
  height: auto;
  overflow: hidden;
}

.component-edit-content {
  height: calc(100% - 4em);
}

.component-edit-tabs.col-sm-6 {
  height: 100%;
  overflow-y: auto;
}

.component-edit-tabs.col-sm-12 {
  height: calc(100% - 4em);
  overflow-y: auto;
}

.component-edit-tabs.col-sm-12 .editForm {
  height: calc(100% - 4em);
  overflow-y: auto;
}

.progress.pdf-progress {
  height: 2rem;
}

.progress.pdf-progress .progress-bar {
  font-size: 1rem;
  line-height: 2rem;
}

.formio-button-remove-row {
  background-color: #666;
  transition: background-color .3s ease;

  &:hover {
    background: #de4444;
  }
}
