<div class="formio-component-header" ref="componentHeader">
  {% if (ctx.builder && ctx.instance.draggable) { %}
    <div class="drag-guide material-icons">view_week</div>
  {% } %}

  {% if (!ctx.label.hidden && ctx.instance.showPrimaryLabel !== false && ctx.label.labelPosition !== 'bottom') { %}
    {{ ctx.labelMarkup }}
  {% } %}

  {% if (!ctx.instance.secondaryLabelIsHidden()) { %}
    <div class="formio-secondary-label">{{ ctx.instance.secondaryLabel }}</div>
  {% } %}

  {% if (!ctx.builder) { %}
    {% if (ctx.instance.component.propertyPath) { %}
      <div
        title="Play"
        class="component-settings-button component-settings-button-play"
        ref="rhPlayButton"
      >PLAY</div>
    {% } %}

    <div
      title="Undo"
      class="btn btn-xxs btn-secondary component-settings-button component-settings-button-undo material-icons"
      ref="rhUndoButton"
    >undo</div>
  {% } %}

  {% if (ctx.builder && !ctx.disableBuilderActions) { %}
    <div class="component-btn-group" data-noattach="true">
      {% if (ctx.options.builderActions && ctx.options.builderActions.editChannels) { %}
        <div title="Channels" class="btn btn-xxs btn-secondary component-settings-button component-settings-button-edit material-icons material-icons-outlined" ref="editChannels">
          ballot
        </div>
      {% } %}

      {% if (ctx.options.builderActions && ctx.options.builderActions.editComponent) { %}
        <div title="Settings" class="btn btn-xxs btn-secondary component-settings-button component-settings-button-edit material-icons material-icons-outlined" ref="editComponent">
          settings
        </div>
      {% } %}

      {% if (ctx.options.builderActions && ctx.options.builderActions.removeComponent) { %}
        <div title="Remove" class="btn btn-xxs btn-danger component-settings-button component-settings-button-remove material-icons" ref="removeComponent">
          close
        </div>
      {% } %}
    </div>
  {% } %}
</div>
