<div class="builder-component" ref="dragComponent">
  {% if (!ctx.disableBuilderActions) { %}
    <div class="component-btn-group" data-noattach="true">
      {% if (ctx.options.builderActions && ctx.options.builderActions.removeComponent) { %}
        <div title="Remove" class="btn btn-xxs btn-danger component-settings-button component-settings-button-remove material-icons" ref="removeComponent">
          close
        </div>
      {% } %}

      {% if (ctx.options.builderActions && ctx.options.builderActions.copyComponent) { %}
        <div class="btn btn-xxs btn-default component-settings-button component-settings-button-copy" ref="copyComponent">
          <i class="{{ctx.iconClass('copy')}}"></i>
        </div>
      {% } %}

      {% if (ctx.options.builderActions && ctx.options.builderActions.pasteComponent) { %}
        <div class="btn btn-xxs btn-default component-settings-button component-settings-button-paste" ref="pasteComponent">
          <i class="{{ctx.iconClass('save')}}"></i>
        </div>
      {% } %}

      {% if (ctx.options.builderActions && ctx.options.builderActions.editJson) { %}
        <div class="btn btn-xxs btn-default component-settings-button component-settings-button-edit-json" ref="editJson">
          <i class="{{ctx.iconClass('wrench')}}"></i>
        </div>
      {% } %}

      {% if (ctx.options.builderActions && ctx.options.builderActions.moveComponent) { %}
        <div class="btn btn-xxs btn-default component-settings-button component-settings-button-move" ref="moveComponent">
          <i class="{{ctx.iconClass('move')}}"></i>
        </div>
      {% } %}

      {% if (ctx.options.builderActions && ctx.options.builderActions.editComponent) { %}
        <div title="Settings" class="btn btn-xxs btn-secondary component-settings-button component-settings-button-edit material-icons material-icons-outlined" ref="editComponent">
          settings
        </div>
      {% } %}

      {% if (ctx.options.builderActions && ctx.options.builderActions.editChannels) { %}
        <div title="Channels" class="btn btn-xxs btn-secondary component-settings-button component-settings-button-edit material-icons material-icons-outlined" ref="editChannels">
          ballot
        </div>
      {% } %}
    </div>
  {% } %}

  {{ctx.html}}
</div>
