<div class="builder-component" ref="dragComponent">
  {% if (ctx.options.dragGuide) { %}
    <div class="drag-guide">
      <i class="fa fa-reorder"></i>
    </div>
  {% } %}

  {% if (!ctx.disableBuilderActions) { %}
    <div class="component-btn-group" data-noattach="true">
      {% if (ctx.options.builderActions && ctx.options.builderActions.removeComponent) { %}
        <div class="btn btn-xxs btn-danger component-settings-button component-settings-button-remove" ref="removeComponent">
          <i class="{{ctx.iconClass('remove')}}"></i>
        </div>
      {% } %}

      {% if (ctx.options.builderActions && ctx.options.builderActions.copyComponent) { %}
        <div class="btn btn-xxs btn-default component-settings-button component-settings-button-copy" ref="copyComponent">
          <i class="{{ctx.iconClass('copy')}}"></i>
        </div>
      {% } %}

      {% if (ctx.options.builderActions && ctx.options.builderActions.pasteComponent) { %}
        <div class="btn btn-xxs btn-default component-settings-button component-settings-button-paste" ref="pasteComponent">
          <i class="{{ctx.iconClass('save')}}"></i>
        </div>
      {% } %}

      {% if (ctx.options.builderActions && ctx.options.builderActions.editJson) { %}
        <div class="btn btn-xxs btn-default component-settings-button component-settings-button-edit-json" ref="editJson">
          <i class="{{ctx.iconClass('wrench')}}"></i>
        </div>
      {% } %}

      {% if (ctx.options.builderActions && ctx.options.builderActions.moveComponent) { %}
        <div class="btn btn-xxs btn-default component-settings-button component-settings-button-move" ref="moveComponent">
          <i class="{{ctx.iconClass('move')}}"></i>
        </div>
      {% } %}

      {% if (ctx.options.builderActions && ctx.options.builderActions.editComponent) { %}
        <div class="btn btn-xxs btn-secondary component-settings-button component-settings-button-edit", ref="editComponent">
          <i class="{{ctx.iconClass('cog')}}"></i>
        </div>
      {% } %}
    </div>
  {% } %}
  {{ctx.html}}
</div>
